[Unit]
Description=Vivarium Watcher
Documentation=https://nowhere.com
After=network.target

[Service]
ExecStart=forever start /var/local/viva/index.js
Restart=always

[Install]
WantedBy=multi-user.target